body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #2a0ae5;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.hidden-div {
    display: none;
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.exam-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.exam-card {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    /* Width set for 3 cards per row */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.exam-card h3 {
    margin: 0 0 10px;
}

.exam-card p {
    margin: 5px 0;
}

.is-passed {
    font-weight: bold;
    color: green;
}

.is-failed {
    font-weight: bold;
    color: red;
}